.ui-grid-row {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
}

.ui-card {
    margin: .5em;
}

.img {
    max-height: 350px;
}

.col-12-99 {
    flex: 0 0 auto;
    width: 99%;
}

.col-12 {
  flex: 0 0 auto;
  padding: .5rem;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .lg\:col-6 {
    flex: 0 0 auto;
    width: 49%;
  }
}

@media screen and (min-width: 1200px) {
  .xl\:col-4 {
    flex: 0 0 auto;
    width: 32.3333%;
  }
}